<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Add New Book</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-row no-padding>
      <ion-col size="6" offset="3">
        <img [src]="image" alt="this is the image"/>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col size="6" offset="3">
        <ion-button fill="outline" expand="block" size="small" (click)="openImagePicker()">Change Picture</ion-button>
      </ion-col>
    </ion-row>
  </div>
  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <ion-item>
      <ion-label position="floating" color="primary">Book Title</ion-label>
      <ion-input type="text" placeholder="Enter Book Title" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Description</ion-label>
      <ion-input type="text" placeholder="Enter Description" formControlName="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Author</ion-label>
      <ion-input type="text" placeholder="Enter Author Name" formControlName="author"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Price €</ion-label>
      <ion-input type="number" placeholder="Enter Price in €" formControlName="price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Published Year</ion-label>
      <ion-input type="number" placeholder="Enter Year" formControlName="year"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Edition</ion-label>
      <ion-input type="text" placeholder="Enter Edition" formControlName="edition"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Publisher</ion-label>
      <ion-input type="text" placeholder="Enter publisher" formControlName="publisher"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">ISBN</ion-label>
      <ion-input type="number" placeholder="Enter ISBN" formControlName="isbn"></ion-input>
    </ion-item>
    
    
    
    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Create</ion-button>
  </form>
</ion-content>
